@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark-blue: hsl(209, 23%, 22%);
  --color-very-dark-blue: hsl(207, 26%, 17%);
}
/*
Hay que dar un ancho máximo por ejemplo 1400 px
*/

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  padding: 1.5rem 3rem;
}

.home-row-filter {
  margin: 1.5rem 0; 
  padding: 0 3rem;
  width: 100%;
}

.filter-row {
  display: flex;
  justify-content: space-between;
}

.filter-item {
  display: block;
}

.select-default {
  border-radius: 0.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
}