

.card-container {
  border-radius: 0.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 400px;
}

.card-image-container {
  width: 100%;
  height: 50%;
}

.card-image-container img {
  border-radius: 0.2rem 0.2rem 0 0;
  width: 100%;
  height: 100%;
}

.card-detail-container {
  padding: 1.5rem;
  height: 50%;
}